@using VendingOnlineStore.Models.Order;
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h1 class="fs-2">Orders</h1>

<div class="list-group">
    @foreach (var order in Model)
    {
        <partial name="_Order" model="order"/>
    }
</div>