@model VendingOnlineStore.Models.Catalog.LocationQuery

<form data-ajax="true" data-ajax-method="get" data-ajax-update="#options" asp-controller="Catalog" asp-action="Options">
    <input id="lat" type="hidden" asp-for="Latitude"/>
    <input id="lon" type="hidden" asp-for="Longitude"/>
    <input id="radius" type="hidden" asp-for="Radius"/>
    <input type="submit" class="btn btn-primary" value="Apply location" onclick="onApplyLocation()"/>
</form>