@model VendingOnlineStore.Models.Catalog.ItemViewModel

<div class="row">
    <div class="col-4">
        <img class="img-fluid rounded-2" src="@Model.PhotoLink" alt="no photo"/>
    </div>
    <div class="row col-8">
        <div class="col-12">
            <b>@Html.DisplayFor(m => m.Name)</b>
        </div>
        <div class="col-12">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>
</div>