@using VendingOnlineStore.Models.Catalog
@model MapViewModel

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Map
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Set location</h1>
            </div>
            <div class="modal-body">
                <div id="map" style="height: 50vh"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                @{
                    var locationQuery = new LocationQuery
                    {
                        Latitude = Model.DefaultLatitude,
                        Longitude = Model.DefaultLongitude,
                        Radius = Model.DefaultRadius
                    };
                }
                <partial name="_ApplyLocationForm" model="locationQuery"/>
            </div>
        </div>
    </div>
</div>