@model IEnumerable<VendingOnlineStore.Models.Catalog.OptionViewModel>

@foreach (var option in Model)
{
    <div class="col-12 col-md-6">
        @{
            await Html.RenderPartialAsync("_Option", option);
        }
    </div>
}