@using VendingOnlineStore.Models.Catalog
@model PickupPointViewModel

<div class="row">
    <div class="col-12">
        <b>@Html.DisplayFor(m => m.Address)</b>
    </div>
    <div class="col-12">
        @Html.DisplayFor(m => m.Description)
    </div>
</div>