@{
    ViewData["Title"] = "Shop";
}

<h1>Select Location</h1>

<hr/>
<div class="row">
    <div class="col-12 mb-3">
        <partial name="_Map"/>
    </div>
    <div class="col-12 d-flex justify-content-end">
        <partial name="_LocationForm"/>
    </div>
</div>

@section Scripts
{
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1baee111-cbde-4534-abab-63573b581ba4" type="text/javascript"></script>
    <script src="~/js/ymaps/index.js" type="text/javascript"></script>
}