@model VendingOnlineStore.Models.Catalog.MapViewModel

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<hr/>
<partial name="_Map" model="Model"/>

<hr/>
<div id="options" class="row">
    Select Location to Get Items
</div>

@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1baee111-cbde-4534-abab-63573b581ba4" type="text/javascript"></script>
    <script src="js/yamaps.js" type="text/javascript"></script>
}