@using VendingOnlineStore.Models.Manage
@model UpdateProfileViewModel

<form asp-controller="Manage" asp-action="UpdateProfile" id="update-profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <select asp-for="CityId" asp-items="@(new SelectList(ViewBag.CityOptions, nameof(CityOptionViewModel.Value), nameof(CityOptionViewModel.Text)))" class="form-select"></select>
        <label asp-for="CityId"></label>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</form>