@using VendingOnlineStore.Models.Manage
@model ProfileViewModel

@{
    ViewData["Title"] = "Manage";
}

<h1>Manage your account</h1>

<h2>Profile</h2>
<partial name="_StatusMessage" model="@TempData["status"]"/>
<div class="row">
    <div class="col-10 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Login" class="form-control" disabled/>
            <label asp-for="Login" class="form-label"></label>
        </div>
        @{
            var updateProfileViewModel = new UpdateProfileViewModel
            {
                CityId = Model.CityId
            };
        }
        <partial name="_UpdateProfileForm" model="updateProfileViewModel"/>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}